{% assign seminars = site.data.data.seminars %}
{% if seminars %}
<section class="section seminars-section">

  <h2>
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ sections.title }}
  </h2>

    <div class="section_div">
<table class="pub_table"><tbody>
  {% for seminar in seminars.seminars %}
      <tr>
      <td class="pub_td2"><span class="seminar-title">
        <a href="{{ seminar.link }}">{{ seminar.title }}</a>
      </span></td>

      {% if seminar.content %}
      <td class="pub_td2"><span class="seminar-content">{{ seminar.content }}</span></td>
      {% endif %}
      </tr>
  {% endfor %}

</tbody></table>
    </div>
</section>
{% endif %}
